.card{
    border-radius: 20px;
}
.card-img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 200px;
}
@media (max-width: 610px) {
    .tab {
      display: none; 
    }
  }

  @media (min-width: 611px) and (max-width: 820px) {
    .tab {
        display: none; 
    }
  }
